.ContactContainer{
     height: 100vh;
    width: 100%;
}
.contactSecondContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.GetInTouchContainer{
    margin-right: 20px;

}
.GetInTouchContainer p{
color: #A1A1AA;
}

.FirstHeading{
    font-size: 70px;
    margin-top: 60px;
    margin-bottom: 15px;
}
.ContactFormContainer{
    width: 620px;
    height: 412px;
    border-radius: 10px;
    border: 2px solid #262D40;
    margin-top: 50px;
    background-color: #18181B;
}
.ContactFormContainer h1{
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
.ContactFormContainer img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 22px;
}
.paraTag{
    margin-left: 50px;
    margin-top: 5px;
}

    .ContactFormContainer textarea{
        width: 91%;
        height: 150px;
        margin-left: 30px;
        margin-top: 20px;
        border-radius: 5px;
        border: 1px solid  #262D40;
        padding: 10px;
        color: white;
        background-color:#1C1F26;
    }

    .ContactFormContainer button{
        margin-left: 28px;
        margin-top: 16px;
        padding: 10px 230px;
        padding-top: 16px;
        padding-bottom: 16px;
        
        background-color: #3B82F6;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .ContactFormContainer input{
        padding: 12px;
        margin-left: 30px;
        margin-top: 25px;
        padding-right: 70px;
        border-radius: 8px;
        border: 1px solid #262D40;
        background-color: #1C1F26;
        
    }

    .ContactInfoContainer{
        margin-right: 260px;
        margin-left: 100px;
        margin-top: 55px;
    }
    .headingsLine{
        display: flex;
        align-items: center;
    }
    .line{
        width: 2px;
        height: 30px;
        margin-left: 30px;
        margin-top: 18px;
        background-color: #3B82F6;
    }

    .headingLine{
        width: 2px;
        height: 30px;
        margin-right: 15px;
        background-color: #3B82F6;
    }
    .ContactInfoHeading{
        display: flex;
        align-items: center;
    }
    .belowheadingPara{
        margin-left: 18px;
        font-size: 18px;
        color: #A1A1AA;
    }
    .SocialIconsContainer{
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 40px;
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: 30px;
    }

  
    .emailPara{
        margin-left: 25px;
        color: #A1A1AA;
        margin-bottom: 10px;
    }
    .emailDetailesContainer{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 25px;
    }
    .emailIcon{
        font-size: 25px;
    }

   


    @media (max-width: 600px) {

        .ContactContainer{
            width: 952px;
        }

        .ContactFormContainer{
            width: 90%;
            margin-left: 20px;
        }
        .GetInTouchContainer{
            margin-right: 0px;
            margin-top: -200px;
        }
        .ContactInfoContainer{
            margin-right: 0px;
            margin-left: 20px;
        }
        .emailDetailesContainer{
            margin-left: 0px;
        }
        .emailPara{
            margin-left: 0px;
        }
        .ContactContainer{
            display: block;

        }
        .contactSecondContainer{
            flex-direction: column;
        }
    }